<mat-toolbar class="max-w-7x1 mx-auto border-x justify-between">
  <a 
  routerLink=""
  (click)="showHomeMovies()"
  >Movies Tmdb</a>
  <a routerLink="topRatedMovies"> Top Rated Movies</a>
    <form action="">
        <input 
        type="text" 
        placeholder="Busque um filme"
        [(ngModel)]="searchText"
        name="searchText"
        >
        <button type="submit" (click)="onSearchChange(searchText)">
            <mat-icon matBadgeColor="warn">search</mat-icon>
        </button>
    </form>
</mat-toolbar>
