<h2 className="title">Filmes disponíveis:</h2>
<div *ngFor="let movie of movies">
    <app-movie-card
        key="movie.id"
        [movie]="movie"
        [showLink]="true"
    ></app-movie-card>
</div>
  
<div class="pagination-buttons">
    <button
      class="pagination-button"
      (click)="onPrevious()"
      [disabled]="this.apiService.currentPage$.value === 1"
    >
      Previous
    </button>
    <button class="pagination-button next-button" (click)="onNext()">Next</button>
  </div>