<div className="movie-page">
          <app-movie-card
          [movie]="movie"
          >
          </app-movie-card>
        <div className="info">
          <h3>
            <mat-icon>new_releases</mat-icon> Lançamento: {{ movie.release_date }}
          </h3>
        </div>
        <div className="info">
          <h3>
            <mat-icon>people</mat-icon> Popularidade: {{ movie.popularity }}
          </h3>
        </div>
        <div className="info description">
          <h3>
            <mat-icon>visibility</mat-icon> Descrição: {{ movie.overview }}
          </h3>
        </div>
  </div>