<mat-toolbar class="max-w-7x1 mx-auto border-x justify-between">
  <a routerLink=""> Code with Ian</a>

    <form action="">
        <input 
        type="text" 
        placeholder="Busque um filme"
        [(ngModel)]="searchText"
        name="searchText"
        >
        <button type="submit" (click)="onSearchChange(searchText)">
            <mat-icon matBadgeColor="warn">search</mat-icon>
        </button>
        <!-- <button type="submit" [matMenuTriggerFor]="menu">
            <mat-icon matBadgeColor="warn">search</mat-icon>
        </button> -->
    </form>

    <mat-menu #menu="matMenu">
        <div class="p-3 divide-y divide-solid">
            <div class="pb-3 flex jsutify-between">
                <span class="mr-16">3 itens</span>
                <a routerLink="">Ver Carrinho</a>
            </div>
            <div class="py-3">
                <div class="flex justify-between font-light mb-2">
                    Teclado x 1
                    <span class="font-bold">{{ '150' | currency:'R$' }}</span>
                </div>
                <div class="flex justify-between font-light mb-2">
                    Mochila x 1
                    <span class="font-bold">{{ '100' | currency:'R$' }}</span>
                </div>
                <div class="flex justify-between font-light mb-2">
                    Mouse x 1
                    <span class="font-bold">{{ '125' | currency:'R$' }}</span>
                </div>
                <div>
                    Total:
                    <span class="font-bold">{{ '375' | currency:'R$' }}</span>
                </div>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>
